:root {
    --nav-bg-color: #F5E3BC;
    --log-reg-bg-color: #F5D297;
    --buttons-main-color: #F59701;
    --dark-orange-color: #F55001;
    --input-main-color: #FFF7E5;
    --input-font-color: #757575;
    --green-dark-color: #8AA942;
    --green-light-color: #E3F0C5;
    --main-font: 'Nunito Sans', sans-serif;;
    --main-font-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}


body{
    background-color: white;
}

#wrapper {
    max-width: 412px;
    height: 100vh;
    background-color: var(--log-reg-bg-color);
    margin: 0 auto;
    
}
.top {
    padding: 0em 2em ;
    height: 80vh;
}
.top > div {
    display: flex;
}

header {
    display: block;
    padding: 1.5em 0 1em;
    font-size: 36px;
}

header p {
    font-weight: 700;
}

.sheet img {
    max-width: 90%;
}

.sheet.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.sheet{
    display: none;
}

.sheet p {
    max-width: 70%;
    text-align: center;
    font-size: 16px;
}

#dots {
    height: 10vh;
    display: flex;
    gap: 1em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

#dots > .dot {
    background-color: #F5E3BC;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.bottom {
    height: 20vh;
    background-color: var(--log-reg-bg-color);
}

.bottom > div {
    background-color: white;
    height: 100%;
    border-radius: 60px 60px 0 0;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #F59701;
    padding: 0.5em 0;
    color: white;
    font-size: 20px;
    border-radius: 60px;
}

#dots > .dot.active, #dots > .dot:hover{
    background-color: white;
}

.wrapper.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom.form-bg {
    height: 90vh;
}

.bottom.form-bg > div {
    padding: 3em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em
}

.bottom.form-bg h1 {
    height: 10vh;
    align-self: flex-start;
}



.bottom.form-bg form {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form .div-pass-strength {
    align-items: center;
    display: none;
    flex-direction: column;
    gap:0.5em;
}

#social-media {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

form > div:first-child > div , form > div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 0.5em;
}

form > div:first-child {
    height: 80%;
    gap:1em;
}

form > div:last-child {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

form > div div p {
    font-size: 14px;
    color: var(--input-font-color);
}

form > div input{
    width: 100%;
    background-color: var(--input-main-color);
    border: none;
    padding: 1em;
    border-radius: 60px;
    transition: all 0.3s;
}

form > div input:focus{
    box-shadow: inset 0 0 3px var(--nav-bg-color);
}

.no-valid {
    border: #E53A3A solid 1px;
    background-color: #E59E88;
    outline: none;
}

#pass-strength {
    height: 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

#pass-strength span {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 60px;
    position: relative;
}

#pass-strength span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

#pass-strength span.active.weak:before{
    background-color: #cc2f2f;
}

#pass-strength span.active.medium:before{
    background-color: #fcb947;
}
#pass-strength span.active.strong:before{
    background-color: #63b011;
}

form .text {
    font-size: 10px;
    text-align: center;
}

form .text.weak{
    color: #cc2f2f;
}

form .text.medium{
    color: #fcb947;
}

form .text.strong{
    color: #63b011;
}

form .showBtn {
    position: absolute;
    display: none;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

form .field{
    position: relative;
}

#forgot-password{
    margin-top: 1em;
    text-align: right;
    font-weight: 700;
    cursor: pointer;
}

.create-account{
    position: absolute;
    top: 80%;
}

#social-media img {
    max-width: 70px;
    cursor: pointer;
}

#create-new-account {
    background: none;
    color: var(--input-font-color);
    font-size: 14px;
    font-weight: 700;
}
