:root {
    --nav-bg-color: #F5E3BC;
    --log-reg-bg-color: #F5D297;
    --buttons-main-color: #F59701;
    --dark-orange-color: #F55001;
    --input-main-color: #FFF7E5;
    --input-font-color: #757575;
    --green-dark-color: #8AA942;
    --green-light-color: #E3F0C5;
    --main-font: 'Nunito Sans', sans-serif;;
    --main-font-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}


body{
    background-color: white;
}

#wrapper {
    max-width: 412px;
    height: 100vh;
    background-color: var(--log-reg-bg-color);
    margin: 0 auto;
    
}
.top {
    padding: 0em 2em ;
    height: 80vh;
}
.top > div {
    display: flex;
}

header {
    display: block;
    padding: 1.5em 0 1em;
    font-size: 36px;
}

header p {
    font-weight: 700;
}

.sheet img {
    max-width: 90%;
}

.sheet.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.sheet{
    display: none;
}

.sheet p {
    max-width: 70%;
    text-align: center;
    font-size: 16px;
}

#dots {
    height: 10vh;
    display: flex;
    gap: 1em;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

#dots > .dot {
    background-color: #F5E3BC;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.bottom {
    height: 20vh;
    background-color: var(--log-reg-bg-color);
}

.bottom div {
    background-color: white;
    height: 100%;
    border-radius: 60px 60px 0 0;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom a {
    text-align: center;
    
    background-color: #F59701;
    padding: 1em 3em;
    color: white;
    font-size: 20px;
    border-radius: 60px;
}

#dots > .dot.active, #dots > .dot:hover{
    background-color: white;
}

 