<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Register</title>
	<link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/validationForm.js" defer></script>
</head>

<body>
	<div id="wrapper" class="wrapper form">
		<div class="bottom form-bg">
			<div>
                <h1>Sign In</h1>
                <form id="submit" action="#" method="post">
                    <div>
                        <div>
                            <p>Email</p>
                            <input name="email" type="text">
                        </div>
                        <div>
                            <p>Password</p>
                            <div class="field">
                                <input name="password" type="password">
                                <span class="showBtn"><img src="https://img.icons8.com/material-sharp/24/000000/visible.png"/></span>
                            </div>
                            <p id="forgot-password">Forgot Password</p>
                        </div>
                        <div id="social-media">
                            <span><img src="https://img.icons8.com/color/80/000000/facebook-new.png"/></span>
                            <span><img src="https://img.icons8.com/color/80/000000/twitter-circled--v1.png"/></span>
                            <span><img src="https://img.icons8.com/color/80/000000/google-plus--v1.png"/></span>
                        </div>
                    </div>
                    
                    <div>
                        <a class="btn-log-in" href="#">Log in</a>
                        <div class="create-account">
                            <p>Don't have an account? <a id="create-new-account" href="../view/register.html">Create</a></p>
                        </div>
                    </div>
                    
                </form>
			</div>
		</div>
	</div>
</body>
</html>